<br>
<div class="container col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main column">
    <div class="well text-center patient-title">
        <h1 class="patient-title">{{patientDetail.patientCheckIn.patient.firstName}}
        {{patientDetail.patientCheckIn.patient.lastName}}</h1>
    </div>
<hr>
    <div class="row">
        <div class="col-sm-12">
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab heading="Current Status">
                    <table class="customTable table table-hover">
                        <thead class="thead">
                            <tr>
                                <th class="text-center">
                                    Symptoms
                                </th>
                                <th class="text-center">
                                    Painscale
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    {{patientDetail.patientCheckIn.symptoms}}
                                </td>
                                <td class="text-center">
                                    {{patientDetail.patientCheckIn.painScale}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab heading="Patient Info">
                    <table class="customTable table table-hover">
                        <thead class="thead">
                            <tr>
                                <th>
                                    DoB
                                </th>
                                <th>
                                    Age
                                </th>
                                <th>
                                    Telehpone
                                </th>
                                <th>
                                    Email Address
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{patientDetail.patientCheckIn.patient.dateOfBirth | date:"MMMM d, y"}}
                                </td>
                                <td>
                                    {{patientDetail.patientCheckIn.patient.dateOfBirth | ageFilter}}
                                </td>
                                <td>
                                    {{patientDetail.patientCheckIn.patient.telephone}} 
                                </td>
                                <td>
                                    {{patientDetail.patientCheckIn.patient.email}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab heading="Visit History">
                    <table class="table table-hover col-sm-12">
                        <thead class="thead">
                            <tr>
                                <th class="text-center">
                                    Last Visit
                                </th>
                                <th class="text-center">
                                    Reason for Visit
                                </th>
                                <th class="text-center">
                                    Medical Field
                                </th>
                                <th class="text-center">
                                    Resolution
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="checkIn in patientDetail.patient.patientCheckIns">
                                <td class="text-center">
                                    {{checkIn.checkInTime}}
                                </td>
                                <td class="text-center">
                                    {{checkIn.symptoms}}
                                </td>
                                <td class="text-center">
                                    {{checkIn.medicalField.name}}
                                </td>
                                <td class="text-center">
                                    {{checkIn.resolution}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab heading="Medical History">
                    <table class="table table-hover col-sm-12">
                        <thead class="thead">
                            <tr>
                                <th class="text-center">
                                    Allergies
                                </th>
                                <th class="text-center">
                                    Medications
                                </th>
                                <th class="text-center">
                                    Chronic Conditions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    {{patientDetail.patientCheckIn.patient.allergies}}
                                </td>
                                <td class="text-center">
                                    {{patientDetail.patientCheckIn.patient.medications}}
                                </td>
                                <td class="text-center">
                                    {{patientDetail.patientCheckIn.patient.chronicConditions}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
        <div class="col-xs-6 col-xs-offset-3">
            <!-- Accept button - active -->
            <button ng-click="assignment.startTime(); acceptBtn = !acceptBtn" ng-hide="acceptBtn" type="button" class="btn btn-primary btn-lg btn-block">Accept</button>
            <form>
            <textarea placeholder="Please enter patient assessment" style="width:100%"  ng-show="acceptBtn" required></textarea>
            <!-- Complete button - inactive until accept button is pressed -->
            <button ng-click="patientDetail.patientCheckIn.resolution()" ng-show="acceptBtn" type="submit"  class="btn btn-danger btn-lg btn-block">Complete</button></form>
            <br>

        </div>
</div>