<div class="container">
	<h2>Doctors</h2>
	<table class="table">
		<thead>
		<tr>
			<th>Name</th>
			<th>Specialty</th>
			<th>Status</th>
			<th></th>
	    </tr>
		</thead>
		<tbody>
			<tr ng-repeat="doctor in doctorList.doctors">
				<td>Dr. {{doctor.firstName}} {{doctor.lastName}}</td>
				<td>
					<span ng-repeat="specialty in doctor.specialties">
						{{specialty.medicalField.name}}<span ng-hide="$last">, </span>
					</span>
				</td>
				<td><span ng-repeat="checkin in doctor.doctorCheckIns">Checked In {{checkin.checkInTime}}</span></td>
				<td><button class="btn btn-primary">Patient Queue</button> </td>
			</tr>

		</tbody>

	</table>
</div>
